/* CSS declarations go here */

html, body {
    background-color: rgb(160,225,218);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.databaseLoading {
    margin: 5vw;
    padding: 1vw 0 2vw;
    color: white;
    text-align: center;
    background-color: rgb(20,142,129);
    border-radius: 2vw;
    font-size: 2vw;
    box-shadow: 0 0.3vw 30px 0px rgba(0,0,0,0.8);
}

.databaseLoading > .loader-symbol {
    border: 0.5vw solid rgb(200,200,200);
    border-top: 0.5vw solid rgb(160,225,218);
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    animation: spin 2s linear infinite;
    margin: auto;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}